<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>
      <img src="assets/images/party.jpg" height="150" width="150" alt="I'm Party Image">
      Your One Stop Bar Search Directory!
    </h1>
  </div>
</header>

<br><br>
<div class="container">

  <form role="form" ng-submit="searchLocation()">
    <div class="row">
      <h3>Enter location</h3>
      <div class="input-group">
        <input type="text" name="choice" ng-model="searchLocationForm.locationQuery" placeholder="Ex: Brooklyn, NY or 10037" class="form-control" required>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Go">
        </span>
      </div>
    </div>
  </form>

  <div class="loading-spinner-holder text-center" ng-hide="loaded">
    <br><br>
    <div class="loading-spinner"><img src="../assets/images/loading/spinner/spinner.gif" /></div>
  </div>

  <br>
  <div ng-show="yelpSearchResultsError" >
    <p class="text-danger">Cannot find location, try again!</p>
  </div>

  <br>
  <div ng-show="yelpSearchResults.data.businesses" id="search-results-count">
    <h3>{{ yelpSearchResults.data.businesses.length }} bar listings found near "{{ searchLocationForm.locationQuery }}"</h3>
  </div>

  <ul ng-repeat="bar in yelpSearchResults.data.businesses">
    <li class="nav nav-tabs nav-stacked col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!bar.is_closed">
      <div id="bar-info">
        <p>
          <br>
          <a ng-href="{{ bar.url }}">{{ bar.name }}</a><br>
          <a ng-href="{{ bar.url }}">
              <img class="img-rounded" ng-show="bar.image_url" ng-src="{{ bar.image_url }}" alt="Bar Image">
              <img class="img-rounded" ng-show="!bar.image_url" ng-src="assets/images/no_image.jpg" height="100" width="100" alt="Bar Image">
          </a>
          <img ng-src="{{ bar.rating_img_url_large }}" alt="Rating Image"> 
          {{ bar.review_count }} reviews
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <!-- If current bar matches bar from database, show the number of people going, otherwise show 0 -->           
          <button ng-show="barListDb.hasOwnProperty(bar.id)" type="button" class="btn btn-default" disabled>{{ barListDb[bar.id] }} people attending</button>
          <button ng-show="!barListDb.hasOwnProperty(bar.id)" type="button" class="btn btn-default" disabled>0 people attending</button>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <!-- If user is logged in and joined event, show "Cancel" button -->
          <button ng-click="cancelButtonClick(bar.id)" ng-show="userBarList.indexOf(bar.id) != -1 && userId" type="button" class="btn btn-danger">Cancel Event</button>

          <!-- If user is logged in and not joined event, show "Join" button -->
          <button ng-click="joinButtonClick(bar.id)" id="join-event-button" ng-show="userBarList.indexOf(bar.id) == -1 && userId" type="button" class="btn btn-success">Join Event</button>

          <!-- If user is not logged, redirect to twitter -->
          <button ng-show="!userId" type="button" class="btn btn-primary" ng-click="go('/auth/twitter/')">Login with Twitter</button>
        </p>
        <p class="snippet" ng-show="bar.snippet_text">
          <i class="snippet ng-binding">"{{ bar.snippet_text }}"</i>
        </p>
      </div>
    </li>

    <br>
  </ul>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>